/*
**
** Navigation Bar Styling
**
*/

#nav-bar {
  position: fixed;
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2em;
  z-index: 1; /* Puts nav-bar above everything else. Default is 0 unless set */

  &:after {
    clear: both;
  }

  /* Navigation header title: Tweeter. */
  .header {
    float: left;
    font-size: 200%;
    padding-left: 10px;
    padding-top: 20px;
  }

  /* Navigation logo image. */
  .logo {
    width: 80px;
    height: 80px;
    float: left;
  }

  /* Navigation bar compose button */
  .compose {
    float: right;
    background-color: white;
    border: 1px solid rgba(255, 0, 0, .5);
    border-radius: 5px;
    padding: 15px;
    margin-top: 13px;
    opacity: .9;
  }

  .compose:hover {
    opacity: 1;
  }

  i {
    padding-right: 2px;
  }


}
