/*
**
** Navigation Bar Styling
**
*/

#nav-bar {
  position: fixed;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #00a087;
  color: #e8fdff
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2em;
  z-index: 1; /* Puts nav-bar above everything else. Default is 0 unless set */
}

/* Navigation header title: Tweeter. */
#nav-bar .header {
  float: left;
  font-size: 200%;
  padding-left: 10px;
}

/* Navigation logo image. */
#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}
