/*
**
** Navigation Bar Styling
**
*/

#nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  height: 80px;
  background-color: $accentColour;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2em;
  z-index: 1; /* Puts nav-bar above everything else. Default is 0 unless set */

  /* Navigation header title: Tweeter. */
  .header {
    font-size: 200%;
    align-self: center;
    padding-left: 10px;
    color: #e8fdff;
  }

  /* Navigation logo image. */
  .logo {
    width: 80px;
    height: 80px;
  }

  /* Navigation bar compose button */
  .compose {
    align-self: center;
    margin-left: auto;
    background-color: $contentbg;
    border: 1px solid rgba(255, 0, 0, .5);
    border-radius: 5px;
    padding: 15px;
    opacity: .9;
    color: $textColour;
  }

  .compose:hover {
    opacity: 1;
  }

  i {
    padding-right: 2px;
  }

}

@media (max-width: 375px) {
  #nav-bar {
    padding: 5px;
  }
}
