.new-tweet {
  background-color: #eee;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid rgba(255, 0, 0, .5);
  padding: 10px;
  border-radius: 5px;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin-top: 0;
}

.new-tweet form {
  overflow: auto;
}

.new-tweet textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 120%;
  padding: 5px;
}

.new-tweet .counter {
  font-style: italic;
  font-size: small;
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}
