/*
**
** Styling for the compose tweet section.
**
*/

/* Compose tweet form, whole element */
.new-tweet {
  background-color: #eee;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid rgba(255, 0, 0, .5);
  padding: 10px;
  border-radius: 5px;
  display: none;

  /* "Compose Tweet" header. */
  h2 {
    border-bottom: 1px solid black;
    margin-top: 0;
  }

  form {
    overflow: auto;
  }

  /* Sets spacing and size for the text input area */
  textarea {
    width: 100%;
    max-width: 100%; /* Prevents stretch outside area */
    min-width: 100%; /* Prevents shrink smaller than area */
    height: 120%;
    padding: 5px;
  }

  /* Character counter for tweet composition */
  .counter {
    font-style: italic;
    font-size: small;
    float: right;
    padding-top: 5px;
    padding-right: 5px;
  }

  /* Adjust color when character count drops below 0 */
  .counter.error {
    color: red;
  }
}