article.tweet {
  background-color: #eee;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid rgba(255, 0, 0, .5);

  border-radius: 5px;
  overflow: auto;
}

article.tweet header {
  padding: 10px;
}

article.tweet header:after {
  clear: both;
}

article.tweet .avatar {
  border-radius: 5px;
  float: left;
}

article.tweet .name {
  float: left;
  padding-left: 5px;
  font-size: larger;
  font-style: bold;
}

article.tweet .handle {
  float: right;
  padding-top: 2px;
  font-size: small;
}

article.tweet section {
  clear: both;
  background-color: white;
  padding: 10px;
}

article.tweet footer {
  border-top: 1px solid rgba(255, 0, 0, .5);
  padding: 10px;
  background-color: white;
  font-size: smaller;
}