article.tweet {
  background-color: #eee;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid rgba(255, 0, 0, .5);
  opacity: 0.75;
  border-radius: 5px;
  overflow: auto;
}

article.tweet:hover {
  opacity: 1;
}

article.tweet header {
  padding: 10px;
  overflow: auto;
}

article.tweet header:after {
  clear: both;
}

article.tweet .avatar {
  border-radius: 5px;
  float: left;
}

article.tweet .name {
  float: left;
  padding-left: 10px;
  font-size: 25px;
  font-weight: bold;
}

article.tweet .handle {
  float: right;
  padding-top: 5px;
  font-size: 13px;
}

article.tweet .tweet-body {
  clear: both;
  background-color: white;
  padding: 25px 15px;
}

article.tweet footer {
  border-top: 1px solid rgba(255, 0, 0, .5);
  padding: 10px;
  background-color: white;
  font-size: 11px;
  overflow: auto;
}

article.tweet .tweet-date {
  float: left;
}

article.tweet .fa {
  padding: 3px;
  float: right;
  opacity: 0;
}

article.tweet:hover .fa {
  padding: 3px;
  float: right;
  opacity: 0.75;
}