/*
**
** Styling for rendered tweets.
**
 */

.tweet {
  background-color: $bgColour;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px solid rgba(255, 0, 0, .5);
  opacity: 0.8;
  border-radius: 5px;
  overflow: auto;

  /* Shows the hovered tweet more strongly */
  &:hover {
    opacity: 1;

     .favicons {
    visibility: visible;
    }
  }

  /*
  **
  ** Styling for header portion of tweets.
  **
   */

  header {
    padding: 10px;
    overflow: auto;

    &:after {
      clear: both;
    }
  }


  .avatar {
    border-radius: 5px;
    float: left;
  }

  .handle {
    float: right;
    padding-top: 5px;
    font-size: 13px;
  }

  .name {
    float: left;
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
  }

  /*
  **
  ** Styling for tweet body text portion of tweets.
  **
   */

  .tweet-body {
    clear: both;
    background-color: $contentbg;
    padding: 25px 15px;
    max-width: 100%;
  }

  /*
  **
  ** Styling for footer portion of tweets.
  **
   */

  footer {
    border-top: 1px solid rgba(255, 0, 0, .5);
    padding: 10px;
    background-color: $contentbg;
    font-size: 11px;
    overflow: auto;

    &:after {
      clear: both;
    }
  }

  .tweet-date {
    float: left;
  }

  /*
  **
  **Styling for flag heart retweet favicon icons
  **
  */

  .favicons {
    padding: 2px;
    float: right;
    visibility: hidden; /* makes icons invisible */
  }

  /* Indiviual icon spacing */
  .favicons i {
    padding-left: 2px;
    padding-right: 2px;
  }

}
